
.dict {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dict-editor {
  flex: 1;
  min-width: 0;
  min-height: 0;

  display: grid;
  grid-template-columns: 80px 2fr 20px;
  grid-auto-rows: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  flex: 1;
}

.dict-editor-cell {
  min-width: 0;
  font-family: Monocraft;
  font-size: 16px;
  background: black;
  border: 1px solid #666666;
}

.dict-editor-focus-true {
  border: 1px solid white;
  outline: 1px solid white;
  z-index: 1;
}

.dict-editor-header {
  min-width: 0;
  font-family: Monocraft;
  font-size: 16px;
  padding-left: 2px;
  background: #666666;
  border: 1px solid ;
  color: white;
  position: sticky;
  top: 0;
}

.dict-editor-delete {
  width: 20px;
  background-color: white;
  color: black;
  padding-left: 4px;
  padding-bottom: 2px;
  line-height: 0;
}

.dict-editor-controls {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.dict-editor-controls button {
  font-size: 16px;
}

.dict-editor-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dict-editor-detail .dict-editor-controls {
  gap: 0;
}

.dict-editor-format-label {
  min-width: 80px;
}
.dict-editor-format-choice {
  min-width: 20px;
  flex: 0;
}
.dict-editor-format {
  flex: 1;
  min-width: 0;
  width: 0;
  font-family: Monocraft;
  font-size: 16px;
  background: black;
  border: 1px solid #666666;
}

.dict-editor-notes {
  min-height: 100px;
  min-width: 0;
  width: 100%;
  font-size: 16px;
  background: black;
  border: 1px solid #666666;
  position: relative;
  color: white;
}