@font-face {
  font-family: "JetBrainsNerd";
  src: url("/fonts/JetBrainsMonoNerdFont-Medium.ttf") format("truetype");
  font-display: swap;
}

:root {
  color-scheme: dark;
  --font-main: "JetBrainsNerd", monospace;
  --font-size-large: 20px;
  --font-size-small: 16px;
  --margin-small: 6px;
  --margin-large: 12px;
  --color-text: white;
  --color-grayed: #666;
  --color-background: #000;
  --color-back-highlight: #333;
  background: var(--color-background);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: none;
}

button,
.button {
  background: var(--color-text);
  color: var(--color-background);
  border: 1px solid var(--color-back-highlight);
  font-family: var(--font-main);
  font-size: var(--font-size-large);
  cursor: pointer;
  flex: 1;
  min-width: 0;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 1px 4px;
}

button:hover,
.button:hover {
  border-color: var(--color-grayed);
}

button:active,
.button:active {
  border-color: var(--color-text);
}

button:disabled,
.button:disabled,
button.selected,
.button.selected {
  background-color: var(--color-grayed);
}
